# Please keep this list alphabetically sorted (case-insensitive)

boto
cssutils
Django == 1.8.5
django-localflavor
# django-registration
# hg+http://bitbucket.org/ubernostrum/django-registration
# django-staticfiles
git+git://github.com/malept/django-staticfiles.git
docutils
Jinja2 >= 2.3
oauth2
PIL
Sphinx >= 1.0
SQLAlchemy
